@using EnF
@{
    Sim4GEntities db = new Sim4GEntities();
    Config config = db.Configs.First();
    Layout = null;
    var listmenu = db.Menus.ToList();
  //  var listslidetop = db.ADVs.Where(p => p.Type == 1).ToList();

    //var productgroup = db.ProductGroups.OrderByDescending(p => p.ProductGroupId).Skip(0).Take(3).ToList();

}
<!-- start header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="~/images/logo.png" alt="" id="logo" />
            </div>
            <div class="col-lg-9" style="padding-top: 12px;padding-right: 7%;">
                <nav id="top-nav">
                    <ul>
                        @foreach(Menu mn in listmenu)
                        {
                             @*<li class="active"><a href="" title="">Home</a></li>*@
                        <li><a href="#" title="">@mn.Name</a></li>
                        }
                       
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

@*<style type="text/css">
    ul.menu li {
        display: inline;
        padding: 0 12px;
    }

    .Proctmnu:hover > div {
        display: block;
        background: #FFCC4E;
    }

    .mdivc2 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 0px;
        top: 100%;
    }

        .mdivc2 ul {
            padding: 0;
            margin: 0;
            /* list-style: none; */
        }

        .mdivc2 li {
            list-style: none;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            width: 100%;
            float: left;
            text-align: left;
        }

    .mlic2 {
        position: relative;
        padding: 0px;
    }

    .subcate {
        display: none;
        position: absolute;
        background: #FFF;
        z-index: 999;
        min-width: 157px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 0%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    #topproduct li {
        width: 179px;
        text-align: center;
        background: #e2d5a5;
    }
</style>*@
