@using EnF
@{
    Sim4GEntities db = new Sim4GEntities();
    Config config = db.Configs.First();
    Layout = null;
    var listmenu = db.Menus.ToList();
  //  var listslidetop = db.ADVs.Where(p => p.Type == 1).ToList();

    //var productgroup = db.ProductGroups.OrderByDescending(p => p.ProductGroupId).Skip(0).Take(3).ToList();

}
<!-- start header -->
<header>
    <nav class="navbar navbar-inverse menureponsive">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <div style="height:70px;width: 20%;background: white;text-align: center;"><img src="/images/logo.png" style="height:70px"></div>
               
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @foreach (var mn in listmenu)
                    {                       
                        <li>
                            <a href="#" title="Trang chủ" alt="trang chủ">@mn.Name</a>
                        </li>
                    }                 
                 
                </ul>
             
            </div>
        </div>
    </nav>

    <div class="menutop" style="height: 165px;">
        <div class="col-md-12" style="height: 100px;">
            <div style="text-align: center;">
                <img src="/images/logo.png" style="height:70px">
                <p style="font-size: 23px;font-family: fantasy;">Tho Huy Nam</p>
            </div>

            
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/images/logo.png" alt="" id="logo" />
                </div>
                <div class="col-lg-9" style="padding-top: 12px;padding-right: 7%;">
                    <nav id="top-nav">
                        <ul>
                            @foreach (var mn in listmenu)
                            {
                                <li class="active"><a href="#" title="">@mn.Name</a></li>
                                @*<li><a href="" title="">4G Vietel</a></li>*@
                            }
                           
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
 
    </div>

</header>

<style type="text/css">
    ul.menu li {
        display: inline;
        padding: 0 12px;
    }

    .Proctmnu:hover > div {
        display: block;
        background: #FFCC4E;
    }

    .mdivc2 {
        position: absolute;
        background: #FFCC4E;
        z-index: 999;
        min-width: 214px;
        display: none;
        border: solid #DDD 1px;
        left: 0px;
        top: 100%;
    }

        .mdivc2 ul {
            padding: 0;
            margin: 0;
            /* list-style: none; */
        }

        .mdivc2 li {
            list-style: none;
            border-bottom: 1px solid #eee;
            cursor: pointer;
            width: 100%;
            float: left;
            text-align: left;
        }

    .mlic2 {
        position: relative;
        padding: 0px;
    }

    .subcate {
        display: none;
        position: absolute;
        background: #FFF;
        z-index: 999;
        min-width: 157px;
        display: none;
        border: solid #DDD 1px;
        left: 99%;
        top: 0%;
    }

    .mdivc2 ul {
        padding: 0;
        margin: 0;
        /* list-style: none; */
    }

    .mdivc2 li {
        list-style: none;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        width: 100%;
        float: left;
        text-align: left;
    }

    #topproduct li {
        width: 179px;
        text-align: center;
        background: #e2d5a5;
    }
</style>
