@using EnF
@{
    Sim4GEntities db = new Sim4GEntities();
    Config config = db.Configs.First();
    Layout = null;

}
<footer style="padding: 0;height: 310px;background: #eae4e4;">
    <div class="col-md-12 container">
        <div class="row">
            <div class="col-md-12 footer">
                <div class="col-md-4 footer-left ">
                    <div class="heading-footer">
                        <span>Liên hệ</span>
                    </div>
                    <p><em class="fa fa-home"></em> Địa chỉ: Krông Ana - Đăk Lăk</p>
                    <p><em class="fa fa-envelope"></em> Mail: duongquochieudtu@gmail.com</p>
                    <p>Website: http://www.dangky-4gviettel.com</p>
                </div>
                <div class="col-md-4 footer-center ">
                    <div class="heading-footer"><span>Hỗ trợ 4G</span></div>
                    <div class="body-footer">
                        <div class="col-md-12">
                            <p>Hotline hỗ trợ 4G</p>
                            <p><em class="fa fa-phone"></em> 0968348348</p>
                            <p>Viettel: 1800 8198</p>
                        </div>
                        <div class="col-md-12">
                            <p>Hỗ trợ dịch vụ khác</p>
                            <p><em class="fa fa-phone"></em> 198 hoặc 18008198</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-right ">
                    <div class="heading-footer"><span>Đơn Vị Thiết Kế</span></div>
                    <div class="body-footer">
                        <div class="col-md-12">
                            <p>Website được Thiết Kế Bởi H&T SOFT</p>
                            <a href="https://www.facebook.com/Thi%E1%BA%BFt-K%E1%BA%BF-Website-HT-Soft-1485004451551974/">Liên Hệ Thiết Kế Tại Đây </a>
                            <p>Viettel: 01668148456</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>


